<body>

<h1>Pretty Jewelry</h1>
<div class="card-deck" >
    <div class="card" >
      <div class="card-header">
        <img src="./assets/jewelryitems.html/bajubhand.jpeg" alt="no image" class="img" >
      </div>
      <div class="card-body">Bhajubhand</div>
      <div class="card-footer">749.00 INR</div>
    </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/jewelryitems.html/choker.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">Pearls Choker</div>
        <div class="card-footer">749.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/jewelryitems.html/combo set.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">Combo-Set</div>
        <div class="card-footer">4075.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/jewelryitems.html/cz changeable earrings.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">CZ Changable Earrings</div>
        <div class="card-footer">699.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/jewelryitems.html/cz jhumki.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">GangaJamuna CZ Jhumki</div>
        <div class="card-footer">969.00 INR</div>
      </div>  

</div>

<div class="card-deck" >
    <div class="card" >
      <div class="card-header">
        <img src="./assets/jewelryitems.html/earrigs.jpeg" alt="no image" class="img" >
      </div>
      <div class="card-body">Diamond Finish</div>
      <div class="card-footer">1349.00 INR</div>
    </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/jewelryitems.html/hc set.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">Heavy Neckset</div>
        <div class="card-footer">1699.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/jewelryitems.html/nakshi set.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">Nakshi Set Goldcopy</div>
        <div class="card-footer">1749.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/jewelryitems.html/real kemp set.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">Real Kemp Set</div>
        <div class="card-footer">2199.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/jewelryitems.html/short set.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">Short Set</div>
        <div class="card-footer">1925.00 INR</div>
      </div>  

</div>

<div class="card-deck" >
    
    <div class="card" >
        <div class="card-header">
          <img src="./assets/jewelryitems.html/trendy set.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">CZ Neck Set</div>
        <div class="card-footer">1535.00 INR</div>
      </div>  


      <div class="card" >
        <div class="card-header">
          <img src="./assets/jewelryitems.html/gold finish jhumki.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">Gold Finish Jhumki</div>
        <div class="card-footer">829.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/jewelryitems.html/set.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">Guttapusalu Short Set</div>
        <div class="card-footer">2299.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/jewelryitems.html/set2.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">Diamond Finish Neck Set</div>
        <div class="card-footer">2650.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/jewelryitems.html/cz jhumki1.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">Diamond Finish Cz Jhumki</div>
        <div class="card-footer">1479.00 INR</div>
      </div>  

</div>

</body>