<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color: #000000; color: white;">
<footer class="page-footer font-small teal pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-3 mt-md-0 mt-3" style="text-align: right;">
            <h4 class="text-uppercase font-weight-bold">OUR ONLINE STORE</h4>
              <h6><a routerLink='/aboutus' style="color: white;">ABOUT US</a></h6>
              <h6><a routerLink='/contactus' style="color: white;">CONTACT US</a></h6>
          </div>
        
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3" style="text-align: center;">
            <h4 class="text-uppercase font-weight-bold" style="text-align: center;">PRODUCTS</h4>
            <h6><a routerLink='/trendyapparel' style="color: white;">TRENDY APPAREL</a></h6>
            <h6><a routerLink='/prettyjewelry' style="color: white;">PRETTY JEWELRY</a></h6>
            <h6><a routerLink='/customizedgifts' style="color: white;">CUSTOMIZED GIFTS</a></h6>
            <h6><a routerLink='/stylishbags' style="color: white;">STYLISH BAGS</a></h6>
            <h6><a routerLink='/pujasilveritems' style="color: white;">PUJA SILVER ITEMS</a></h6>
            <h6><a routerLink='/maggamworkblouses' style="color: white;">MAGGAM WORK BLOUSES</a></h6>
        </div>
        <div class="col-md-3 mb-md-0 mb-3" style="text-align: left;">
            <h4 class="text-uppercase font-weight-bold">STORE INFORMATION</h4>
            <h6>DIVYA COLLECTIONS</h6>
            <h6>HYDERABAD</h6>
            <h6>INDIA</h6>
            <h6>CALL US AT:9299002990</h6>
        </div>
        <div class="col-md-3 mt-md-0 mt-3" style="text-align: center;">
            <h4 class="text-uppercase font-weight-bold">PERSONAL INFORMATION</h4>
            <h6><a routerLink='/login' style="color: white;">LOG IN</a></h6>
            <h6><a routerLink='/signup' style="color: white;">SIGN UP</a></h6>
        </div>
       </div>
    </div>
    <div class="socialmedia" style="text-align: center;">
        <a style="margin: 20px 25px;" href="https://instagram.com/jewelry_trendywear?utm_medium=copy_link"><i class="fab fa-instagram"></i></a>
        <a style="margin: 20px 25px" href="mailto:divyaguptha19@gmail.com"><i class="fas fa-mail-bulk"></i></a>
        <a style="margin: 20px 25px;" href="https://www.facebook.com/arunadivyacollections"><i class="fab fa-facebook"></i></a>
        <a style="margin: 20px 25px;" href="https://youtube.com/channel/arunacollectionsbydivya"><i class="fab fa-youtube"></i></a>
        
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright: DIVYA COLLECTIONS
    </div>
</footer>
</body>
</html>