<body>
  
<img src="./assets/1.jpeg" alt="no image" width="100%"> <br>


    <div class="bs-example">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button type="button" class="btn btn-link,btn btn-secondary" data-toggle="collapse" data-target="#collapseOne">What we deal with</button>                                  
                    </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>DivyaCollections is a one stop shop for all your Fashion and Lifestyle needs. <br>
                          DivyaCollections Aims at providing a hassle free and enjoyable shopping experience to shoppers across the country with the widest range of Brands and Products on its Portal. <br>
                          We are making a conscious effort to bring the power of Fashion to shoppers with an array of Latest and Trendiest products available in the country.</p>
                    </div> 
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button type="button" class="btn btn-link collapsed,btn btn-secondary" data-toggle="collapse" data-target="#collapseTwo">Our Values</button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                      <p>
                      <div id="demo" class="carousel slide" data-ride="carousel" id="demo">
                    
                        <!-- The slideshow -->
                        <div class="carousel-inner">
                          <div class="carousel-item active" >
                            
                            <h2>Customer First </h2>
                            <p>We look at the world from our customers point of view.</p>
                            
                          </div>
                          <div class="carousel-item" >
                            <h2>Integrity </h2>
                            <p>We strive to do what is right and do what we say we will do.</p>
                          </div>
                          <div class="carousel-item">
                            <h2>Inclusion </h2>
                            <p>We value the uniqueness in everyone,respect differences,and foster a sense of belonging.</p>
                          </div>
                          <div class="carousel-item">
                            <h2>Audacity </h2>
                            <p>We think big and take bold bets.We change the paradigm.</p>
                          </div>
                          <div class="carousel-item">
                            <h2>Bias for Action </h2>
                            <p>We have a strong sense of urgency to solve problems strategically.</p>
                          </div>
                          
                        </div>
                      
                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                          <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                          <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button type="button" class="btn btn-link collapsed,btn btn-secondary" data-toggle="collapse" data-target="#collapseThree"  >Our Service</button>                     
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>We know how difficult it can be when purchasing online, that's why we gives maximum priority to customer satisfaction. <br>
                          You can be assured that our customers are our main concern when it comes to consumer happiness. <br>
                          Our goal is to provide you with a wonderful experience and keep you coming back for purchasing.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </body>