<body>
  <h1>Maggam Work Blouses</h1>
<div class="card-deck" >
    <div class="card" >
      <div class="card-body">
        <img src="./assets/blouses/b17.png" alt="no image" class="img" >
      </div>
      <div class="card-footer">2999.00 INR</div>
    </div>  

      <div class="card" >
        <div class="card-body">
          <img src="./assets/blouses/b2.jpg" alt="no image" class="img" >
        </div>
        <div class="card-footer">1999.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-body">
          <img src="./assets/blouses/b3.png" alt="no image" class="img" >
        </div>
        <div class="card-footer">1799.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-body">
          <img src="./assets/blouses/b4.png" alt="no image" class="img" >
        </div>
        <div class="card-footer">2199.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-body">
          <img src="./assets/blouses/b5.png" alt="no image" class="img" >
        </div>
        <div class="card-footer">2099.00 INR</div>
      </div>  

</div>

<div class="card-deck" >
    <div class="card" >
      <div class="card-body">
        <img src="./assets/blouses/b6.png" alt="no image" class="img" >
      </div>
      <div class="card-footer">3199.00 INR</div>
    </div>  

      <div class="card" >
        <div class="card-body">
          <img src="./assets/blouses/b7.jpg" alt="no image" class="img" >
        </div>
        <div class="card-footer">2399.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-body">
          <img src="./assets/blouses/b8.png" alt="no image" class="img" >
        </div>      
        <div class="card-footer">2199.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-body">
          <img src="./assets/blouses/b9.png" alt="no image" class="img" >
        </div>
        <div class="card-footer">2399.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-body">
          <img src="./assets/blouses/b10.jpg" alt="no image" class="img" >
        </div>
        <div class="card-footer">1999.00 INR</div>
      </div>  

</div>

<div class="card-deck" >
    <div class="card" >
      <div class="card-body">
        <img src="./assets/blouses/b11.png" alt="no image" class="img" >
      </div>
      <div class="card-footer">2299.00 INR</div>
    </div>  

      <div class="card" >
        <div class="card-body">
          <img src="./assets/blouses/b12.png" alt="no image" class="img" >
        </div>
        <div class="card-footer">2199.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-body">
          <img src="./assets/blouses/b13.png" alt="no image" class="img" >
        </div>
        <div class="card-footer">2099.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-body">
          <img src="./assets/blouses/b14.png" alt="no image" class="img" >
        </div>
        <div class="card-footer">1699.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-body">
          <img src="./assets/blouses/b1.jpg" alt="no image" class="img" >
        </div>
        <div class="card-footer">2499.00 INR</div>
      </div>  

</div>

</body>

