<body>
  
  <h1>Trendy Apparel</h1>

<div class="card-deck" >
    <div class="card" >
      <div class="card-header">
        <img src="./assets/image1.html/d1.jpeg" alt="no image" class="img" >
      </div>
      <div class="card-body">Reyon Kurthi with Sharara</div>
      <div class="card-footer">770.00 INR</div>
    </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/image1.html/kurthi with plazo.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">Cotton Kurthi with Pant</div>
        <div class="card-footer">1120.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/image1.html/half saree.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">Banarsi Pattu Half Saree</div>
        <div class="card-footer">3899.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/image1.html/plazo.jpg" alt="no image" class="img" >
        </div>
        <div class="card-body">Reyon Kurthi with Pant</div>
        <div class="card-footer">849.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/image1.html/c5.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">Kanjeevaram Pattu Saree</div>
        <div class="card-footer">2399.00 INR</div>
      </div>  

</div>

<div class="card-deck" >
    <div class="card" >
      <div class="card-header">
        <img src="./assets/image1.html/c17.jpeg" alt="no image" class="img" >
      </div>
      <div class="card-body">Light Weight Soft Pattu</div>
      <div class="card-footer">2250.00 INR</div>
    </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/image1.html/c7.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">Kurthi with Dupatta</div>
        <div class="card-footer">799.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/image1.html/c8.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">Organza Long Frock</div>
        <div class="card-footer">1599.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/image1.html/c9.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">Soft Crape Flairy Gown</div>
        <div class="card-footer">799.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/image1.html/c10.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">Kurthi+Embroidery Pant</div>
        <div class="card-footer">1150.00 INR</div>
      </div>  

</div>

<div class="card-deck" >
    <div class="card" >
      <div class="card-header">
        <img src="./assets/image1.html/c11.jpeg" alt="no image" class="img" >
      </div>
      <div class="card-body">Reyon kurthi</div>
      <div class="card-footer">950.00 INR</div>
    </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/image1.html/c12.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">Embroidery Lehanga</div>
        <div class="card-footer">3199.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/image1.html/c13.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">Silk Gown</div>
        <div class="card-footer">699.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/image1.html/c14.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">Coat Model Gown</div>
        <div class="card-footer">1250.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/image1.html/c15.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">Gown with Fancy Dupatta</div>
        <div class="card-footer">1799.00 INR</div>
      </div>  

</div>

</body>