<body>
  
<h1>Customized Gifts</h1>
<div class="card-deck" >
    <div class="card" >
      <div class="card-header">
        <img src="./assets/gifts.html/g1.jpeg" alt="no image" class="img" >
      </div>
      <div class="card-body">8*6 Led Cut-out</div>
      <div class="card-footer">950.00 INR</div>
    </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/gifts.html/g2.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">Personalized Embroidery Wedding hoop</div>
        <div class="card-footer">1200.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/gifts.html/g3.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">LED Bottle with Pic</div>
        <div class="card-footer">700.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/gifts.html/g4.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">Attractive Mobile Stand with 4Pics 1Msg</div>
        <div class="card-footer">700.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/gifts.html/g5.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">White Mug</div>
        <div class="card-footer">500.00 INR</div>
      </div>  

</div>

<div class="card-deck" >
    <div class="card" >
      <div class="card-header">
        <img src="./assets/gifts.html/g6.jpeg" alt="no image" class="img" >
      </div>
      <div class="card-body">Customized Heart Fur Cushion</div>
      <div class="card-footer">550.00 INR</div>
    </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/gifts.html/g7.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">12*8 Simple Collage Frame </div>
        <div class="card-footer">850.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/gifts.html/moon lamp kitchen.jpg" alt="no image" class="img" >
        </div>
        <div class="card-body">Moon Lamp Keychain</div>
        <div class="card-footer">450.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/gifts.html/g8.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">14*20 Mosaic Frame</div>
        <div class="card-footer">1050.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/gifts.html/name plate.jpg" alt="no image" class="img" >
        </div>
        <div class="card-body">Led Frame</div>
        <div class="card-footer">800.00 INR</div>
      </div>  

</div>

<div class="card-deck" >
    <div class="card" >
      <div class="card-header">
        <img src="./assets/gifts.html/customized thali set.jpg" alt="no image" class="img" >
      </div>
      <div class="card-body">customized Thali Set</div>
      <div class="card-footer">750.00 INR</div>
    </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/gifts.html/frosted mug.jpg" alt="no image" class="img" >
        </div>
        <div class="card-body">Frosted Mug</div>
        <div class="card-footer">600.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/gifts.html/oil frame.jpg" alt="no image" class="img" >
        </div>
        <div class="card-body">Oil Frame</div>
        <div class="card-footer">950.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/gifts.html/resin keychains.jpg" alt="no image" class="img" >
        </div>
        <div class="card-body">Customized Resin Key chains</div>
        <div class="card-footer">470.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/gifts.html/couple ring.jpg" alt="no image" class="img" >
        </div>
        <div class="card-body">Adjustable Couple Ring</div>
        <div class="card-footer">550.00 INR</div>
      </div>  

</div>

</body>

