<body>
  
<h1>Stylish Bags</h1>
<div class="card-deck" >
    <div class="card" >
      <div class="card-header">
        <img src="./assets/bags.html/b1 1.jpeg" alt="no image" class="img" >
      </div>
      <div class="card-body">Duffle Bag with Kit Pouch</div>
      <div class="card-footer">1149.00</div>
    </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/bags.html/b2 1.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">High Quality Hand Bag</div>
        <div class="card-footer">799.00</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/bags.html/b3.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">2pc Combo</div>
        <div class="card-footer">549.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/bags.html/b4.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">Jimmy Choo</div>
        <div class="card-footer">750.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/bags.html/b5.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">2 Compartments HandBag</div>
        <div class="card-footer">649.00 INR</div>
      </div>  

</div>

<div class="card-deck" >
    <div class="card" >
      <div class="card-header">
        <img src="./assets/bags.html/b6.jpeg" alt="no image" class="img" >
      </div>
      <div class="card-body">UB HandBag</div>
      <div class="card-footer">650.00 INR</div>
    </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/bags.html/b7 1.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">Ethnic Sling Bags</div>
        <div class="card-footer">500.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/bags.html/b8 1.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">Kwerky Fashion Bags</div>
        <div class="card-footer">900.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/bags.html/b11.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">Jewelry Pouch</div>
        <div class="card-footer">350.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/bags.html/b14.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">2 in 1 Satchel Bag</div>
        <div class="card-footer">750.00 INR</div>
      </div>  

</div>

<div class="card-deck" >
    <div class="card" >
      <div class="card-header">
        <img src="./assets/bags.html/b13.jpeg" alt="no image" class="img" >
      </div>
      <div class="card-body">Nike+Quecha+Sling </div>
      <div class="card-footer">999.00 INR</div>
    </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/bags.html/b16 1.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">Charles's and Keith</div>
        <div class="card-footer">750.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/bags.html/b15.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">Tote Bag+Wrist Pouch</div>
        <div class="card-footer">799.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/bags.html/b18.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">Jimmy Choo Combo</div>
        <div class="card-footer">699.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/bags.html/b19.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">4 Compartment HandBag</div>
        <div class="card-footer">650.00 INR</div>
      </div>  

</div>


</body>