<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="./assets/contactus.png" alt="no image">

    <h1>Call-us or Chat-us @ <br>
       <h2>+91-9299002990</h2> 
    </h1>
    <h1>Mail us at <br>
      <h2>divyaguptha19@gmail.com</h2>
      </h1>
    <p>We Typically reply in 24 hours</p>
    
</body>
</html>
