<body>
  
<h1>Puja Silver Items</h1>
<div class="card-deck" >
    <div class="card" >
      <div class="card-header">
        <img src="./assets/sileritems.html/s1.jpeg" alt="no image" class="img" >
      </div>
      <div class="card-body">German Silver Washable Puja Thali</div>
      <div class="card-footer">4500.00 INR</div>
    </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/sileritems.html/s2.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">German Silver Washable Chowki Set</div>
        <div class="card-footer">1799.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/sileritems.html/s3.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">German Silver Washable Tray with Tulsi </div>
        <div class="card-footer">1049.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/sileritems.html/s4.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">German Silver Washable Panchwala</div>
        <div class="card-footer">1199.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/sileritems.html/s16.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">Pure Silver Coated Gokula Krishna</div>
        <div class="card-footer">1499.00 INR</div>
      </div>  

</div>

<div class="card-deck" >
    <div class="card" >
      <div class="card-header">
        <img src="./assets/sileritems.html/s6.jpeg" alt="no image" class="img" >
      </div>
      <div class="card-body">10 pc Assorted Collection</div>
      <div class="card-footer">1399.00 INR</div>
    </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/sileritems.html/s5.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">German Silver Washable Panchwala</div>
        <div class="card-footer">1849.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/sileritems.html/s8.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">German Silver Puja Thli with Diya</div>
        <div class="card-footer">4499.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/sileritems.html/s9  1.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">German Silver Washable Puja Thali</div>
        <div class="card-footer">3599.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/sileritems.html/s10.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">Full Set Puja Thali </div>
        <div class="card-footer">3599.00 INR</div>
      </div>  

</div>

<div class="card-deck" >
    <div class="card" >
      <div class="card-header">
        <img src="./assets/sileritems.html/s11.jpeg" alt="no image" class="img" >
      </div>
      <div class="card-body">Washable Deepam [Pair]</div>
      <div class="card-footer">1499.00 INR</div>
    </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/sileritems.html/s12.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">Panchapatra+panchwala+NandaDeepam Pair</div>
        <div class="card-footer">1599.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/sileritems.html/s13.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">11pairs Star+Pure Brass Diya+Chowki</div>
        <div class="card-footer">1699.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/sileritems.html/s14.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">Washable Plate+any model face+10 Diyas</div>
        <div class="card-footer">2599.00 INR</div>
      </div>  

      <div class="card" >
        <div class="card-header">
          <img src="./assets/sileritems.html/s15.jpeg" alt="no image" class="img" >
        </div>
        <div class="card-body">Pure Silver Coated Pot Krishna Idol</div>
        <div class="card-footer">3599.00 INR</div>
      </div>  

</div>

</body>

