<body>
<div id="demo" class="carousel slide"  data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
      <li data-target="#demo" data-slide-to="3"></li>
      <li data-target="#demo" data-slide-to="4"></li>
      <li data-target="#demo" data-slide-to="5"></li>
    </ul>
  
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/image.html/online store.jpeg" alt="no image" height="450px" width="100%">
      </div>
      <div class="carousel-item">
        <img src="./assets/image.html/teddies11.png" alt="no image" height="450px" width="100%">
      </div>
      <div class="carousel-item">
        <img src="./assets/image.html/gift-42.gif" alt="no image" height="450px" width="100%">
      </div>
      <div class="carousel-item">
        <img src="./assets/image.html/bags.jpeg" alt="no image" height="450px" width="100%">
      </div>
      <div class="carousel-item">
        <img src="./assets/sileritems.html/pujaitems.png.crdownload" alt="no image" height="450px" width="100%">
      </div>
      <div class="carousel-item">
        <img src="./assets/image.html/hpy.jpg" alt="no image" height="450px" width="100%">
      </div>
    </div>
  
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  
  </div >

 
  <div class="card-deck" >
    <div class="card" routerLink='/trendyapparel'>
      <div class="card-body">
        <img src="./assets/image1.html/dresses.jpeg" alt="no image" class="img" >
      </div>
      <div class="card-footer">Trendy Apparel</div>
    </div>  
    <div class="card" routerLink='/prettyjewelry'>
     <div class="card-body">
       <img src="./assets/jewelryitems.html/trendy set.jpeg" alt="no image" class="img">
     </div>
     <div class="card-footer">Pretty Jewelry</div>
   </div>  
   <div class="card" routerLink='/customizedgifts'>
     <div class="card-body">
       <img src="./assets/gifts.html/led stand.jpg" alt="no image" class="img" >
     </div>
     <div class="card-footer">Customized Gifts</div>
   </div>  
</div>

<div class="card-deck">
   <div class="card" routerLink='/stylishbags'>
     <div class="card-body">
       <img src="./assets/bags.html/bags.jpeg" alt="no image" class="img" >
     </div>
     <div class="card-footer">Stylish Bags</div>
   </div>  
   <div class="card" routerLink='/pujasilveritems'>
     <div class="card-body" >
       <img src="./assets/sileritems.html/pujaitems.png.crdownload" alt="no image" class="img"  >
     </div>
     <div class="card-footer">Puja Silver Items</div>
   </div>  
   <div class="card" routerLink='/maggamworkblouses'>
     <div class="card-body" >
       <img src="./assets/blouses/maggamworkblouse.png" alt="no image" class="img" >
     </div>
     <div class="card-footer">Maggam Work Blouses</div>
   </div>  
   
</div>

</body>